.favourites-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.favourites-container span {
    cursor: pointer;
    color: #4a90e2;
    font-weight: 600;
    font-size: 20px;
}

.favourites-container span:hover {
    text-decoration: underline;
}

.favourites-container h3 {
    margin-bottom: 16px;
    font-size: 20px;
    color: #333;
}

.favourites-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 400px;
}

.favourites-container li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    margin-bottom: 2px;
    border-radius: 8px;
}

.favourites-container button{
    padding: 8px 5px;
    border: none;
    border-radius: 8px;
    background: #4a90e2;
    color: white;
    font-weight: 700;
    font-size: 10px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.favourites-container button:hover {
    background: #357ac9;
}