.weather-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    outline: 2px solid black;
    padding: 10px;
    margin:8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.main-card{
    width: 80%;
}

.forecast-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.sunny-bg{
    background: linear-gradient(to bottom, #ff7b00, #ffaa00, #ffdd00);
    color: white;
}

.cloudy-bg{
    background: linear-gradient(to bottom, #adb5bd, #e9ecef);
}

.rainy-bg{
    background: linear-gradient(to bottom, #212529, #495057, #ced4da);
    color: #e7ecef;
}

.thunderstorm-bg{
    background: linear-gradient(to bottom, #001d3d, #ffc300,#ffea00);
    color: white;
}

.snowy-bg{
    background: linear-gradient(to bottom, #90e0ef, #caf0f8);
    color:#003049;
}

.night-bg{
    background: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77);
    color: white;
}


