.weather-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin:10px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease;
}

.weather-card:hover {
    transform: scale(1.02);
}

.main-card{
    width:80%;
    max-width: 600px;
    outline: 2px solid black;
}

.forecast-card{
    width:160px;
    min-width: 160px;
    height: auto;
    font-size:12px;
    padding: 12px;
}

.sunny-bg{
    background: linear-gradient(to bottom, #ff7b00, #ffaa00, #ffdd00);
    color: white;
}

.cloudy-bg{
    background: linear-gradient(to bottom, #adb5bd, #e9ecef);
}

.rainy-bg{
    background: linear-gradient(to bottom, #212529, #495057, #ced4da);
    color: #e7ecef;
}

.thunderstorm-bg{
    background: linear-gradient(to bottom, #001d3d, #ffc300,#ffea00);
    color: white;
}

.snowy-bg{
    background: linear-gradient(to bottom, #90e0ef, #caf0f8);
    color:#003049;
}

.night-bg{
    background: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77);
    color: white;
}

.weather-card button{
    padding: 10px 8px;

    border: none;
    border-radius: 8px;

    background: #4a90e2;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.2s ease;
}

.weather-card button:hover {
    background: #357ac9;
}

